<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестовые задания</title>
</head>
<body>
{% block content %}
<h1>Тестовые задания Python-программисту</h1>
<a href="{% url 'roots' %}">
<button>Корни уровнения</button>
</a>
<pre>
<a href="{% url 'entry' %}">
<button>Генератор случайных чисел</button>
</a>
</pre>
{% endblock %}
</body>
</html>